$grey: #BAB6B5;
$grey-med: #646464;

body {
  background-color: rgb(9, 184, 233);
  background-image: url('https://media.istockphoto.com/photos/round-podium-or-pedestal-with-blue-background-picture-id1226478932?b=1&k=20&m=1226478932&s=170667a&w=0&h=hXsvxQilNanpKx7QC_tIsFUOKPl8fdIDfJ_QSKXesGE=');
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-repeat: repeat-x;

}

.flex {
  display:flex;
  font-style: italic;
}

.nobel-prizes-app {
  max-width: 1440px;
  margin:0 auto;
  padding:2rem;
}

@import "nobelPrize";
@import "laureate";
@import "form";